<div class="container">

    <div>
        <input class="inputBusqueda" type="text" placeholder="Buscar...">
    </div>

    <div>
        <div style="padding: 30px; text-align: center;">
            <h1>
                Productos
            </h1>
        </div>




        <div class="container-cursos">                 

            <div class="container">     
              <div class="cursos">
                <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                  <img src="https://imgs.search.brave.com/7ulQ6DMKlJM69veuBtDmKyQCvKcT6LHMBcSNQKLb9eI/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jb250/ZW50cy5tZWRpYWRl/Y2F0aGxvbi5jb20v/cDIzOTM4ODAvayQy/MjE4Mjc2YjY2Yjdl/MTQ3YzZjZDUzMzIz/ZmIxMzFlNC90ZW5p/cy1kZS1ydW5uaW5n/LWhvbWJyZS1qb2dm/bG93LTEwMDEtbmVn/cm8tZ3Jpcy5qcGc_/Zm9ybWF0PWF1dG8m/cXVhbGl0eT00MCZm/PTUyMHg1MjA" alt="" style="width: 100%; height: 100%;">
                </div>
                <div class="cursos-datos">
                  <div class="datosCursoUno">
                    <h3>Tenis para correr</h3>
                    <p><a href="">Ver Producto</a></p>                        
                  </div>                                                                          
                </div>
              </div>  
            </div>   

            <div class="container">     
                <div class="cursos">
                  <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                    <img src="https://imgs.search.brave.com/2sFBcELHiDKs6SMD7XdAp_VhDwPiVCb-umW3GP6zSvY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9odHRw/Mi5tbHN0YXRpYy5j/b20vRF9OUV9OUF85/MjYwODQtTUxNNTE3/MDE2ODY1MTlfMDky/MDIyLU8ud2VicA" alt="" style="width: 100%; height: 100%;">
                  </div>
                  <div class="cursos-datos">
                    <div class="datosCursoUno">
                      <h3>Short Deportivo</h3>
                      <p><a href="">Ver Producto</a></p>                                             
                    </div>                                                                          
                  </div>
                </div>  
              </div>  


              <div class="container">     
                <div class="cursos">
                  <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                    <img src="https://imgs.search.brave.com/2513FKZE1FYU3hBMwhzeF3h3Pdvu9AF53vVLRKICOlY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/ODFsSGsyVlQ3aUwu/anBn" alt="" style="width: 100%; height: 100%;">
                  </div>
                  <div class="cursos-datos">
                    <div class="datosCursoUno">
                        <h3>Short Deportivo</h3>
                      <p><a href="">Ver Producto</a></p>                                           
                    </div>                                                                          
                  </div>
                </div>  
              </div>  


                <div class="container">              
                    <div class="cursos">
                        <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                        <img src="https://imgs.search.brave.com/FZyu54M2owZBC6xZE2L3CALtdsM4Sd39_US4GfgP5vU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jb250/ZW50cy5tZWRpYWRl/Y2F0aGxvbi5jb20v/cDIxNTU0ODEvayRk/ZThmMjQ0NjQ1ZWQ3/ZmU0MGM0Njc0ODIy/ODAwM2E4OC90ZW5p/cy1kZS1ydW5uaW5n/LXBhcmEtaG9tYnJl/LXJ1bi1hY3RpdmUt/Z3JpcC1jYXF1aS1y/b2pvLmpwZz9mb3Jt/YXQ9YXV0byZxdWFs/aXR5PTQwJmY9NTIw/eDUyMA" alt="" style="width: 100%; height: 100%;">
                        </div>
                        <div class="cursos-datos">
                        <div class="datosCursoUno">
                            <h3>Tenis deportivos</h3>
                            <p><a href="">Ver Producto</a></p>                                    
                        </div>
                        </div>
                    </div>  
                </div>    


              <div class="container">     
                <div class="cursos">
                  <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                    <img src="https://imgs.search.brave.com/K-tITBYIwKG6Tt1KCM32dfC5p6JnmovYBufDM-F3kRA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pNS53/YWxtYXJ0aW1hZ2Vz/LmNvbS5teC9tZy9n/bS8zcHAvYXNyLzZj/ZGUyNjFmLWU5YjEt/NGRkZi05M2VmLWM4/NmM0NmFiMzE3Mi4y/NzE3ZTdhOGI5NTY2/MDU3N2ViMmRmOWVm/NzZjNDg3Ni5qcGVn/P29kbkhlaWdodD02/MTImb2RuV2lkdGg9/NjEyJm9kbkJnPUZG/RkZGRg" alt="" style="width: 100%; height: 100%;">
                  </div>
                  <div class="cursos-datos">
                    <div class="datosCursoUno">
                      <h3>Bamda para cabeza</h3>
                      <p><a href="">Ver Producto</a></p>                                  
                    </div>                                                                          
                  </div>
                </div>  
              </div>  



              <div class="container">     
                <div class="cursos">
                  <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                    <img src="https://imgs.search.brave.com/6fuJSxWCdMk9-IrV6qy3MSAwr4zEpRYIuynaLbKJKYs/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9hc3Nl/dHMuYWRpZGFzLmNv/bS9pbWFnZXMvd182/MDAsZl9hdXRvLHFf/YXV0by8yZmE4NWQ1/Y2JmYjQ0YzlkYmFi/NGE4MTcwMDlmYmFk/NF85MzY2L0JhbmRh/X3BhcmFfbGFfQ2Fi/ZXphX2RlX1Rlbmlz/X05lZ3JvX0NGNjky/Nl8wMV9zdGFuZGFy/ZC5qcGc" alt="" style="width: 100%; height: 100%;">
                  </div>
                  <div class="cursos-datos">
                    <div class="datosCursoUno">
                        <h3>Bamda para cabeza</h3>
                        <p><a href="">Ver Producto</a></p>                                  
                    </div>                                                                          
                  </div>
                </div>  
              </div>  




              <div class="container">     
                <div class="cursos">
                  <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                    <img src="https://imgs.search.brave.com/OFZvZQDA-UeuURNwuzwLmsXhbRRausXwMRmfB3evDZY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/OTFCSUNiN09HcVMu/anBn" alt="" style="width: 100%; height: 100%;">
                  </div>
                  <div class="cursos-datos">
                    <div class="datosCursoUno">
                        <h3>Muñequeras</h3>
                      <p><a href="">Ver Producto</a></p>                                  
                    </div>                                                                          
                  </div>
                </div>  
              </div>  



              <div class="container">     
                <div class="cursos">
                  <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                    <img src="https://imgs.search.brave.com/wmP9yvraXfraRaS1C90Sv9RWhNIxdBezZO1UBBmsqXs/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/NTFMbldxZC1SRUwu/anBn" alt="" style="width: 100%; height: 100%;">
                  </div>
                  <div class="cursos-datos">
                    <div class="datosCursoUno">
                        <h3>Bamda para cabeza</h3>
                        <p><a href="">Ver Producto</a></p>                                      
                    </div>                                                                          
                  </div>
                </div>  
              </div>  



              <div class="container">     
                <div class="cursos">
                  <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                    <img src="https://imgs.search.brave.com/4wtVWeXI1HCYNWwoja-XCHKRuQHKMF_qX8rgIHZu_3k/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9zLmFs/aWNkbi5jb20vQHNj/MDQva2YvQWZjZTQx/N2E5MWIxMjQyOGQ5/YWE3ODlkNzZiMDcz/NWRhZS5qcGc" alt="" style="width: 100%; height: 100%;">
                  </div>
                  <div class="cursos-datos">
                    <div class="datosCursoUno">
                        <h3>Bote de Agua</h3>
                        <p><a href="">Ver Producto</a></p>                                      
                    </div>                                                                          
                  </div>
                </div>  
              </div>  



              <div class="container">     
                <div class="cursos">
                  <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                    <img src="https://imgs.search.brave.com/ZOYH6YT2LBGVpsBYy3qck6sxt5byjC_PVndvwv8r5wY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/NjFrSXloeTFnOEwu/anBn" alt="" style="width: 100%; height: 100%;">
                  </div>
                  <div class="cursos-datos">
                    <div class="datosCursoUno">
                        <h3>Bote de Agua</h3>
                        <p><a href="">Ver Producto</a></p>                                      
                    </div>                                                                          
                  </div>
                </div>  
              </div>  
              

            <div class="container">            
                <div class="cursos">
                  <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                    <img src="https://imgs.search.brave.com/uZTaPtT-z6V8VHf88N-81Nqryn-F6bISeAp5ro0c4_8/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jb250/ZW50cy5tZWRpYWRl/Y2F0aGxvbi5jb20v/cDIxNTMyNDQvayQ3/NjY2ODQ1ODkzZDk2/YzVjMTU2ZjI4MmU5/ODNjYjlmMS90ZW5p/cy1kZS1ydW5uaW5n/LXBhcmEtaG9tYnJl/LWpvZ2Zsb3ctNTAw/azEtbmVncm8uanBn/P2Zvcm1hdD1hdXRv/JnF1YWxpdHk9NDAm/Zj01MjB4NTIw" alt="" style="width: 100%; height: 100%;">
                  </div>
                  <div class="cursos-datos">
                    <div class="datosCursoUno">
                      <h3>Tenis Deportivo</h3>
                      <p><a href="">Ver Producto</a></p>                                    
                    </div>                                                                
                  </div>
                </div>  
            </div>   




              <div class="container">     
                <div class="cursos">
                  <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                    <img src="https://imgs.search.brave.com/nFuIy3Wimfs3UvxSJVk5Ox4gYAocWbCOLy_7rRMT9IU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9odHRw/Mi5tbHN0YXRpYy5j/b20vRF9OUV9OUF82/NDUzMzQtTUxCNDkx/MjI4NzAxNzdfMDIy/MDIyLVcud2VicA" alt="" style="width: 100%; height: 100%;">
                  </div>
                  <div class="cursos-datos">
                    <div class="datosCursoUno">
                        <h3>Top deportivo femenino</h3>
                      <p><a href="">Ver Producto</a></p>                                       
                    </div>                                                                          
                  </div>
                </div>  
              </div>  



              <div class="container">     
                <div class="cursos">
                  <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                    <img src="https://imgs.search.brave.com/mfOuDBD2voRfLN7nIL2iOzIUYge15ypwn0a4LkUS5zM/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/NDFPQVdtdVZvakwu/anBn" alt="" style="width: 100%; height: 100%;">
                  </div>
                  <div class="cursos-datos">
                    <div class="datosCursoUno">
                      <h3>Tenis para correr mujer</h3>
                      <p><a href="">Ver Producto</a></p>                                     
                    </div>                                                                          
                  </div>
                </div>  
              </div>  


              <div class="container">     
                <div class="cursos">
                  <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                    <img src="https://imgs.search.brave.com/7ulQ6DMKlJM69veuBtDmKyQCvKcT6LHMBcSNQKLb9eI/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jb250/ZW50cy5tZWRpYWRl/Y2F0aGxvbi5jb20v/cDIzOTM4ODAvayQy/MjE4Mjc2YjY2Yjdl/MTQ3YzZjZDUzMzIz/ZmIxMzFlNC90ZW5p/cy1kZS1ydW5uaW5n/LWhvbWJyZS1qb2dm/bG93LTEwMDEtbmVn/cm8tZ3Jpcy5qcGc_/Zm9ybWF0PWF1dG8m/cXVhbGl0eT00MCZm/PTUyMHg1MjA" alt="" style="width: 100%; height: 100%;">
                  </div>
                  <div class="cursos-datos">
                    <div class="datosCursoUno">
                      <h3>Tenis para correr</h3>
                      <p><a href="">Ver Producto</a></p>                        
                    </div>                                                                          
                  </div>
                </div>  
              </div>   
  
              <div class="container">     
                  <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                      <img src="https://imgs.search.brave.com/2sFBcELHiDKs6SMD7XdAp_VhDwPiVCb-umW3GP6zSvY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9odHRw/Mi5tbHN0YXRpYy5j/b20vRF9OUV9OUF85/MjYwODQtTUxNNTE3/MDE2ODY1MTlfMDky/MDIyLU8ud2VicA" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                      <div class="datosCursoUno">
                        <h3>Short Deportivo</h3>
                        <p><a href="">Ver Producto</a></p>                                             
                      </div>                                                                          
                    </div>
                  </div>  
                </div>  
  
  
                <div class="container">     
                  <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                      <img src="https://imgs.search.brave.com/2513FKZE1FYU3hBMwhzeF3h3Pdvu9AF53vVLRKICOlY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/ODFsSGsyVlQ3aUwu/anBn" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                      <div class="datosCursoUno">
                          <h3>Short Deportivo</h3>
                        <p><a href="">Ver Producto</a></p>                                           
                      </div>                                                                          
                    </div>
                  </div>  
                </div>  
  
  
                  <div class="container">              
                      <div class="cursos">
                          <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                          <img src="https://imgs.search.brave.com/FZyu54M2owZBC6xZE2L3CALtdsM4Sd39_US4GfgP5vU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jb250/ZW50cy5tZWRpYWRl/Y2F0aGxvbi5jb20v/cDIxNTU0ODEvayRk/ZThmMjQ0NjQ1ZWQ3/ZmU0MGM0Njc0ODIy/ODAwM2E4OC90ZW5p/cy1kZS1ydW5uaW5n/LXBhcmEtaG9tYnJl/LXJ1bi1hY3RpdmUt/Z3JpcC1jYXF1aS1y/b2pvLmpwZz9mb3Jt/YXQ9YXV0byZxdWFs/aXR5PTQwJmY9NTIw/eDUyMA" alt="" style="width: 100%; height: 100%;">
                          </div>
                          <div class="cursos-datos">
                          <div class="datosCursoUno">
                              <h3>Tenis deportivos</h3>
                              <p><a href="">Ver Producto</a></p>                                    
                          </div>
                          </div>
                      </div>  
                  </div>    
  
  
                <div class="container">     
                  <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                      <img src="https://imgs.search.brave.com/K-tITBYIwKG6Tt1KCM32dfC5p6JnmovYBufDM-F3kRA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pNS53/YWxtYXJ0aW1hZ2Vz/LmNvbS5teC9tZy9n/bS8zcHAvYXNyLzZj/ZGUyNjFmLWU5YjEt/NGRkZi05M2VmLWM4/NmM0NmFiMzE3Mi4y/NzE3ZTdhOGI5NTY2/MDU3N2ViMmRmOWVm/NzZjNDg3Ni5qcGVn/P29kbkhlaWdodD02/MTImb2RuV2lkdGg9/NjEyJm9kbkJnPUZG/RkZGRg" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                      <div class="datosCursoUno">
                        <h3>Bamda para cabeza</h3>
                        <p><a href="">Ver Producto</a></p>                                  
                      </div>                                                                          
                    </div>
                  </div>  
                </div>  
  
  
  
                <div class="container">     
                  <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                      <img src="https://imgs.search.brave.com/6fuJSxWCdMk9-IrV6qy3MSAwr4zEpRYIuynaLbKJKYs/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9hc3Nl/dHMuYWRpZGFzLmNv/bS9pbWFnZXMvd182/MDAsZl9hdXRvLHFf/YXV0by8yZmE4NWQ1/Y2JmYjQ0YzlkYmFi/NGE4MTcwMDlmYmFk/NF85MzY2L0JhbmRh/X3BhcmFfbGFfQ2Fi/ZXphX2RlX1Rlbmlz/X05lZ3JvX0NGNjky/Nl8wMV9zdGFuZGFy/ZC5qcGc" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                      <div class="datosCursoUno">
                          <h3>Bamda para cabeza</h3>
                          <p><a href="">Ver Producto</a></p>                                  
                      </div>                                                                          
                    </div>
                  </div>  
                </div>  
  
  
  
  
                <div class="container">     
                  <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                      <img src="https://imgs.search.brave.com/OFZvZQDA-UeuURNwuzwLmsXhbRRausXwMRmfB3evDZY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/OTFCSUNiN09HcVMu/anBn" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                      <div class="datosCursoUno">
                          <h3>Muñequeras</h3>
                        <p><a href="">Ver Producto</a></p>                                  
                      </div>                                                                          
                    </div>
                  </div>  
                </div>  
  
  
  
                <div class="container">     
                  <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                      <img src="https://imgs.search.brave.com/wmP9yvraXfraRaS1C90Sv9RWhNIxdBezZO1UBBmsqXs/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/NTFMbldxZC1SRUwu/anBn" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                      <div class="datosCursoUno">
                          <h3>Bamda para cabeza</h3>
                          <p><a href="">Ver Producto</a></p>                                      
                      </div>                                                                          
                    </div>
                  </div>  
                </div>  
  
  
  
                <div class="container">     
                  <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                      <img src="https://imgs.search.brave.com/4wtVWeXI1HCYNWwoja-XCHKRuQHKMF_qX8rgIHZu_3k/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9zLmFs/aWNkbi5jb20vQHNj/MDQva2YvQWZjZTQx/N2E5MWIxMjQyOGQ5/YWE3ODlkNzZiMDcz/NWRhZS5qcGc" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                      <div class="datosCursoUno">
                          <h3>Bote de Agua</h3>
                          <p><a href="">Ver Producto</a></p>                                      
                      </div>                                                                          
                    </div>
                  </div>  
                </div>  
  
  
  
                <div class="container">     
                  <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                      <img src="https://imgs.search.brave.com/ZOYH6YT2LBGVpsBYy3qck6sxt5byjC_PVndvwv8r5wY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/NjFrSXloeTFnOEwu/anBn" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                      <div class="datosCursoUno">
                          <h3>Bote de Agua</h3>
                          <p><a href="">Ver Producto</a></p>                                      
                      </div>                                                                          
                    </div>
                  </div>  
                </div>  
                
  
              <div class="container">            
                  <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                      <img src="https://imgs.search.brave.com/uZTaPtT-z6V8VHf88N-81Nqryn-F6bISeAp5ro0c4_8/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jb250/ZW50cy5tZWRpYWRl/Y2F0aGxvbi5jb20v/cDIxNTMyNDQvayQ3/NjY2ODQ1ODkzZDk2/YzVjMTU2ZjI4MmU5/ODNjYjlmMS90ZW5p/cy1kZS1ydW5uaW5n/LXBhcmEtaG9tYnJl/LWpvZ2Zsb3ctNTAw/azEtbmVncm8uanBn/P2Zvcm1hdD1hdXRv/JnF1YWxpdHk9NDAm/Zj01MjB4NTIw" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                      <div class="datosCursoUno">
                        <h3>Tenis Deportivo</h3>
                        <p><a href="">Ver Producto</a></p>                                    
                      </div>                                                                
                    </div>
                  </div>  
              </div>   
  
  
  
  
            <div class="container">     
                <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                      <img src="https://imgs.search.brave.com/nFuIy3Wimfs3UvxSJVk5Ox4gYAocWbCOLy_7rRMT9IU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9odHRw/Mi5tbHN0YXRpYy5j/b20vRF9OUV9OUF82/NDUzMzQtTUxCNDkx/MjI4NzAxNzdfMDIy/MDIyLVcud2VicA" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                      <div class="datosCursoUno">
                          <h3>Top deportivo femenino</h3>
                        <p><a href="">Ver Producto</a></p>                                       
                      </div>                                                                          
                    </div>
                </div>  
            </div>  
  
  
  
            <div class="container">     
                <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                      <img src="https://imgs.search.brave.com/mfOuDBD2voRfLN7nIL2iOzIUYge15ypwn0a4LkUS5zM/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/NDFPQVdtdVZvakwu/anBn" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                      <div class="datosCursoUno">
                        <h3>Tenis para correr mujer</h3>
                        <p><a href="">Ver Producto</a></p>                                     
                      </div>                                                                          
                    </div>
                </div>  
            </div> 


            <div class="container">     
                <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                        <img src="https://imgs.search.brave.com/7ulQ6DMKlJM69veuBtDmKyQCvKcT6LHMBcSNQKLb9eI/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jb250/ZW50cy5tZWRpYWRl/Y2F0aGxvbi5jb20v/cDIzOTM4ODAvayQy/MjE4Mjc2YjY2Yjdl/MTQ3YzZjZDUzMzIz/ZmIxMzFlNC90ZW5p/cy1kZS1ydW5uaW5n/LWhvbWJyZS1qb2dm/bG93LTEwMDEtbmVn/cm8tZ3Jpcy5qcGc_/Zm9ybWF0PWF1dG8m/cXVhbGl0eT00MCZm/PTUyMHg1MjA" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                        <div class="datosCursoUno">
                          <h3>Tenis para correr</h3>
                          <p><a href="">Ver Producto</a></p>                        
                        </div>                                                                          
                    </div>
                </div>  
            </div>   
      
            <div class="container">     
                <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                        <img src="https://imgs.search.brave.com/2sFBcELHiDKs6SMD7XdAp_VhDwPiVCb-umW3GP6zSvY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9odHRw/Mi5tbHN0YXRpYy5j/b20vRF9OUV9OUF85/MjYwODQtTUxNNTE3/MDE2ODY1MTlfMDky/MDIyLU8ud2VicA" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                        <div class="datosCursoUno">
                            <h3>Short Deportivo</h3>
                            <p><a href="">Ver Producto</a></p>                                             
                        </div>                                                                          
                    </div>
                </div>  
            </div>  
      
      
            <div class="container">     
                <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                        <img src="https://imgs.search.brave.com/2513FKZE1FYU3hBMwhzeF3h3Pdvu9AF53vVLRKICOlY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/ODFsSGsyVlQ3aUwu/anBn" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                        <div class="datosCursoUno">
                            <h3>Short Deportivo</h3>
                            <p><a href="">Ver Producto</a></p>                                           
                        </div>                                                                          
                    </div>
                </div>  
            </div>  
      
      
            <div class="container">              
                <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                        <img src="https://imgs.search.brave.com/FZyu54M2owZBC6xZE2L3CALtdsM4Sd39_US4GfgP5vU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jb250/ZW50cy5tZWRpYWRl/Y2F0aGxvbi5jb20v/cDIxNTU0ODEvayRk/ZThmMjQ0NjQ1ZWQ3/ZmU0MGM0Njc0ODIy/ODAwM2E4OC90ZW5p/cy1kZS1ydW5uaW5n/LXBhcmEtaG9tYnJl/LXJ1bi1hY3RpdmUt/Z3JpcC1jYXF1aS1y/b2pvLmpwZz9mb3Jt/YXQ9YXV0byZxdWFs/aXR5PTQwJmY9NTIw/eDUyMA" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                        <div class="datosCursoUno">
                            <h3>Tenis deportivos</h3>
                            <p><a href="">Ver Producto</a></p>                                    
                        </div>
                    </div>
                </div>  
            </div>    
      
      
            <div class="container">     
                <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                        <img src="https://imgs.search.brave.com/K-tITBYIwKG6Tt1KCM32dfC5p6JnmovYBufDM-F3kRA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pNS53/YWxtYXJ0aW1hZ2Vz/LmNvbS5teC9tZy9n/bS8zcHAvYXNyLzZj/ZGUyNjFmLWU5YjEt/NGRkZi05M2VmLWM4/NmM0NmFiMzE3Mi4y/NzE3ZTdhOGI5NTY2/MDU3N2ViMmRmOWVm/NzZjNDg3Ni5qcGVn/P29kbkhlaWdodD02/MTImb2RuV2lkdGg9/NjEyJm9kbkJnPUZG/RkZGRg" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                        <div class="datosCursoUno">
                            <h3>Bamda para cabeza</h3>
                            <p><a href="">Ver Producto</a></p>                                  
                        </div>                                                                          
                    </div>
                </div>  
            </div>  
      
      
      
            <div class="container">     
                <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                        <img src="https://imgs.search.brave.com/6fuJSxWCdMk9-IrV6qy3MSAwr4zEpRYIuynaLbKJKYs/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9hc3Nl/dHMuYWRpZGFzLmNv/bS9pbWFnZXMvd182/MDAsZl9hdXRvLHFf/YXV0by8yZmE4NWQ1/Y2JmYjQ0YzlkYmFi/NGE4MTcwMDlmYmFk/NF85MzY2L0JhbmRh/X3BhcmFfbGFfQ2Fi/ZXphX2RlX1Rlbmlz/X05lZ3JvX0NGNjky/Nl8wMV9zdGFuZGFy/ZC5qcGc" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                        <div class="datosCursoUno">
                            <h3>Bamda para cabeza</h3>
                            <p><a href="">Ver Producto</a></p>                                  
                        </div>                                                                          
                    </div>
                </div>  
            </div>  
      
      
      
      
            <div class="container">     
                <div class="cursos">
                        <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                          <img src="https://imgs.search.brave.com/OFZvZQDA-UeuURNwuzwLmsXhbRRausXwMRmfB3evDZY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/OTFCSUNiN09HcVMu/anBn" alt="" style="width: 100%; height: 100%;">
                        </div>
                        <div class="cursos-datos">
                        <div class="datosCursoUno">
                            <h3>Muñequeras</h3>
                            <p><a href="">Ver Producto</a></p>                                  
                        </div>                                                                          
                    </div>
                </div>  
            </div>  
      
      
      
            <div class="container">     
                <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                        <img src="https://imgs.search.brave.com/wmP9yvraXfraRaS1C90Sv9RWhNIxdBezZO1UBBmsqXs/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/NTFMbldxZC1SRUwu/anBn" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                        <div class="datosCursoUno">
                            <h3>Bamda para cabeza</h3>
                            <p><a href="">Ver Producto</a></p>                                      
                        </div>                                                                          
                    </div>
                </div>  
            </div>  
      
      
      
            <div class="container">     
                <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                        <img src="https://imgs.search.brave.com/4wtVWeXI1HCYNWwoja-XCHKRuQHKMF_qX8rgIHZu_3k/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9zLmFs/aWNkbi5jb20vQHNj/MDQva2YvQWZjZTQx/N2E5MWIxMjQyOGQ5/YWE3ODlkNzZiMDcz/NWRhZS5qcGc" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                        <div class="datosCursoUno">
                            <h3>Bote de Agua</h3>
                            <p><a href="">Ver Producto</a></p>                                      
                        </div>                                                                          
                    </div>
                </div>  
            </div>  
      
      
      
            <div class="container">     
                <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                        <img src="https://imgs.search.brave.com/ZOYH6YT2LBGVpsBYy3qck6sxt5byjC_PVndvwv8r5wY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/NjFrSXloeTFnOEwu/anBn" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                        <div class="datosCursoUno">
                            <h3>Bote de Agua</h3>
                            <p><a href="">Ver Producto</a></p>                                      
                        </div>                                                                          
                    </div>
                </div>  
            </div>  
                    
      
            <div class="container">            
                <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                        <img src="https://imgs.search.brave.com/uZTaPtT-z6V8VHf88N-81Nqryn-F6bISeAp5ro0c4_8/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jb250/ZW50cy5tZWRpYWRl/Y2F0aGxvbi5jb20v/cDIxNTMyNDQvayQ3/NjY2ODQ1ODkzZDk2/YzVjMTU2ZjI4MmU5/ODNjYjlmMS90ZW5p/cy1kZS1ydW5uaW5n/LXBhcmEtaG9tYnJl/LWpvZ2Zsb3ctNTAw/azEtbmVncm8uanBn/P2Zvcm1hdD1hdXRv/JnF1YWxpdHk9NDAm/Zj01MjB4NTIw" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                        <div class="datosCursoUno">
                            <h3>Tenis Deportivo</h3>
                            <p><a href="">Ver Producto</a></p>                                    
                        </div>                                                                
                    </div>
                </div>  
            </div>   
      
      
      
      
            <div class="container">     
                <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                            <img src="https://imgs.search.brave.com/nFuIy3Wimfs3UvxSJVk5Ox4gYAocWbCOLy_7rRMT9IU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9odHRw/Mi5tbHN0YXRpYy5j/b20vRF9OUV9OUF82/NDUzMzQtTUxCNDkx/MjI4NzAxNzdfMDIy/MDIyLVcud2VicA" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                        <div class="datosCursoUno">
                            <h3>Top deportivo femenino</h3>
                            <p><a href="">Ver Producto</a></p>                                       
                        </div>                                                                          
                    </div>
                </div>  
            </div>  
      
      
      
            <div class="container">     
                <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                        <img src="https://imgs.search.brave.com/mfOuDBD2voRfLN7nIL2iOzIUYge15ypwn0a4LkUS5zM/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/NDFPQVdtdVZvakwu/anBn" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                        <div class="datosCursoUno">
                            <h3>Tenis para correr mujer</h3>
                            <p><a href="">Ver Producto</a></p>                                     
                        </div>                                                                          
                    </div>
                </div>  
            </div> 

            <div class="container">     
                <div class="cursos">
                  <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                    <img src="https://imgs.search.brave.com/7ulQ6DMKlJM69veuBtDmKyQCvKcT6LHMBcSNQKLb9eI/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jb250/ZW50cy5tZWRpYWRl/Y2F0aGxvbi5jb20v/cDIzOTM4ODAvayQy/MjE4Mjc2YjY2Yjdl/MTQ3YzZjZDUzMzIz/ZmIxMzFlNC90ZW5p/cy1kZS1ydW5uaW5n/LWhvbWJyZS1qb2dm/bG93LTEwMDEtbmVn/cm8tZ3Jpcy5qcGc_/Zm9ybWF0PWF1dG8m/cXVhbGl0eT00MCZm/PTUyMHg1MjA" alt="" style="width: 100%; height: 100%;">
                  </div>
                  <div class="cursos-datos">
                    <div class="datosCursoUno">
                      <h3>Tenis para correr</h3>
                      <p><a href="">Ver Producto</a></p>                        
                    </div>                                                                          
                  </div>
                </div>  
              </div>   
  
              <div class="container">     
                  <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                      <img src="https://imgs.search.brave.com/2sFBcELHiDKs6SMD7XdAp_VhDwPiVCb-umW3GP6zSvY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9odHRw/Mi5tbHN0YXRpYy5j/b20vRF9OUV9OUF85/MjYwODQtTUxNNTE3/MDE2ODY1MTlfMDky/MDIyLU8ud2VicA" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                      <div class="datosCursoUno">
                        <h3>Short Deportivo</h3>
                        <p><a href="">Ver Producto</a></p>                                             
                      </div>                                                                          
                    </div>
                  </div>  
                </div>  
  
  
                <div class="container">     
                  <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                      <img src="https://imgs.search.brave.com/2513FKZE1FYU3hBMwhzeF3h3Pdvu9AF53vVLRKICOlY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/ODFsSGsyVlQ3aUwu/anBn" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                      <div class="datosCursoUno">
                          <h3>Short Deportivo</h3>
                        <p><a href="">Ver Producto</a></p>                                           
                      </div>                                                                          
                    </div>
                  </div>  
                </div>  
  
  
                  <div class="container">              
                      <div class="cursos">
                          <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                          <img src="https://imgs.search.brave.com/FZyu54M2owZBC6xZE2L3CALtdsM4Sd39_US4GfgP5vU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jb250/ZW50cy5tZWRpYWRl/Y2F0aGxvbi5jb20v/cDIxNTU0ODEvayRk/ZThmMjQ0NjQ1ZWQ3/ZmU0MGM0Njc0ODIy/ODAwM2E4OC90ZW5p/cy1kZS1ydW5uaW5n/LXBhcmEtaG9tYnJl/LXJ1bi1hY3RpdmUt/Z3JpcC1jYXF1aS1y/b2pvLmpwZz9mb3Jt/YXQ9YXV0byZxdWFs/aXR5PTQwJmY9NTIw/eDUyMA" alt="" style="width: 100%; height: 100%;">
                          </div>
                          <div class="cursos-datos">
                          <div class="datosCursoUno">
                              <h3>Tenis deportivos</h3>
                              <p><a href="">Ver Producto</a></p>                                    
                          </div>
                          </div>
                      </div>  
                  </div>    
  
  
                <div class="container">     
                  <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                      <img src="https://imgs.search.brave.com/K-tITBYIwKG6Tt1KCM32dfC5p6JnmovYBufDM-F3kRA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pNS53/YWxtYXJ0aW1hZ2Vz/LmNvbS5teC9tZy9n/bS8zcHAvYXNyLzZj/ZGUyNjFmLWU5YjEt/NGRkZi05M2VmLWM4/NmM0NmFiMzE3Mi4y/NzE3ZTdhOGI5NTY2/MDU3N2ViMmRmOWVm/NzZjNDg3Ni5qcGVn/P29kbkhlaWdodD02/MTImb2RuV2lkdGg9/NjEyJm9kbkJnPUZG/RkZGRg" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                      <div class="datosCursoUno">
                        <h3>Bamda para cabeza</h3>
                        <p><a href="">Ver Producto</a></p>                                  
                      </div>                                                                          
                    </div>
                  </div>  
                </div>  
  
  
  
                <div class="container">     
                  <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                      <img src="https://imgs.search.brave.com/6fuJSxWCdMk9-IrV6qy3MSAwr4zEpRYIuynaLbKJKYs/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9hc3Nl/dHMuYWRpZGFzLmNv/bS9pbWFnZXMvd182/MDAsZl9hdXRvLHFf/YXV0by8yZmE4NWQ1/Y2JmYjQ0YzlkYmFi/NGE4MTcwMDlmYmFk/NF85MzY2L0JhbmRh/X3BhcmFfbGFfQ2Fi/ZXphX2RlX1Rlbmlz/X05lZ3JvX0NGNjky/Nl8wMV9zdGFuZGFy/ZC5qcGc" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                      <div class="datosCursoUno">
                          <h3>Bamda para cabeza</h3>
                          <p><a href="">Ver Producto</a></p>                                  
                      </div>                                                                          
                    </div>
                  </div>  
                </div>  
  
  
  
  
                <div class="container">     
                  <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                      <img src="https://imgs.search.brave.com/OFZvZQDA-UeuURNwuzwLmsXhbRRausXwMRmfB3evDZY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/OTFCSUNiN09HcVMu/anBn" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                      <div class="datosCursoUno">
                          <h3>Muñequeras</h3>
                        <p><a href="">Ver Producto</a></p>                                  
                      </div>                                                                          
                    </div>
                  </div>  
                </div>  
  
  
  
                <div class="container">     
                  <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                      <img src="https://imgs.search.brave.com/wmP9yvraXfraRaS1C90Sv9RWhNIxdBezZO1UBBmsqXs/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/NTFMbldxZC1SRUwu/anBn" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                      <div class="datosCursoUno">
                          <h3>Bamda para cabeza</h3>
                          <p><a href="">Ver Producto</a></p>                                      
                      </div>                                                                          
                    </div>
                  </div>  
                </div>  
  
  
  
                <div class="container">     
                  <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                      <img src="https://imgs.search.brave.com/4wtVWeXI1HCYNWwoja-XCHKRuQHKMF_qX8rgIHZu_3k/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9zLmFs/aWNkbi5jb20vQHNj/MDQva2YvQWZjZTQx/N2E5MWIxMjQyOGQ5/YWE3ODlkNzZiMDcz/NWRhZS5qcGc" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                      <div class="datosCursoUno">
                          <h3>Bote de Agua</h3>
                          <p><a href="">Ver Producto</a></p>                                      
                      </div>                                                                          
                    </div>
                  </div>  
                </div>  
  
  
  
                <div class="container">     
                  <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                      <img src="https://imgs.search.brave.com/ZOYH6YT2LBGVpsBYy3qck6sxt5byjC_PVndvwv8r5wY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/NjFrSXloeTFnOEwu/anBn" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                      <div class="datosCursoUno">
                          <h3>Bote de Agua</h3>
                          <p><a href="">Ver Producto</a></p>                                      
                      </div>                                                                          
                    </div>
                  </div>  
                </div>  
                
  
              <div class="container">            
                  <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                      <img src="https://imgs.search.brave.com/uZTaPtT-z6V8VHf88N-81Nqryn-F6bISeAp5ro0c4_8/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jb250/ZW50cy5tZWRpYWRl/Y2F0aGxvbi5jb20v/cDIxNTMyNDQvayQ3/NjY2ODQ1ODkzZDk2/YzVjMTU2ZjI4MmU5/ODNjYjlmMS90ZW5p/cy1kZS1ydW5uaW5n/LXBhcmEtaG9tYnJl/LWpvZ2Zsb3ctNTAw/azEtbmVncm8uanBn/P2Zvcm1hdD1hdXRv/JnF1YWxpdHk9NDAm/Zj01MjB4NTIw" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                      <div class="datosCursoUno">
                        <h3>Tenis Deportivo</h3>
                        <p><a href="">Ver Producto</a></p>                                    
                      </div>                                                                
                    </div>
                  </div>  
              </div>   
  
  
  
  
                <div class="container">     
                  <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                      <img src="https://imgs.search.brave.com/nFuIy3Wimfs3UvxSJVk5Ox4gYAocWbCOLy_7rRMT9IU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9odHRw/Mi5tbHN0YXRpYy5j/b20vRF9OUV9OUF82/NDUzMzQtTUxCNDkx/MjI4NzAxNzdfMDIy/MDIyLVcud2VicA" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                      <div class="datosCursoUno">
                          <h3>Top deportivo femenino</h3>
                        <p><a href="">Ver Producto</a></p>                                       
                      </div>                                                                          
                    </div>
                  </div>  
                </div>  
  
  
  
                <div class="container">     
                  <div class="cursos">
                    <div style="max-width: 100%; height: 180px; overflow: hidden; border-radius:20px">
                      <img src="https://imgs.search.brave.com/mfOuDBD2voRfLN7nIL2iOzIUYge15ypwn0a4LkUS5zM/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/NDFPQVdtdVZvakwu/anBn" alt="" style="width: 100%; height: 100%;">
                    </div>
                    <div class="cursos-datos">
                      <div class="datosCursoUno">
                        <h3>Tenis para correr mujer</h3>
                        <p><a href="">Ver Producto</a></p>                                     
                      </div>                                                                          
                    </div>
                  </div>  
                </div> 




        </div>
    </div>
</div>
