<div style="background-image: url('https://imgs.search.brave.com/cL_-Z3hlW19V7-k5iNzYf0JBDVc3ElY4ZP4j8tLI01Q/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMucnVubmVhLmNv/bS9pbWFnZXMvMjAy/MzAxL21hcmF0b24t/YmFyY2Vsb25hLVh4/WHg4MC5qcGc_MA');   background-size: cover;">
    <div class="container" style=" background-color: rgba(7, 7, 7, 0.767);  color: aliceblue; padding: 40px;">
        <div style="text-align: center;">
            <img src="./assets/tenis.png" alt="" width="100" height="100" style="padding: 20px;">
            <h1><b>Login</b></h1>
        </div>
        <form action="" class="formularioLogin">

            <div class="div_inputs">
                <div>
                    <label for=""><b>Nombre</b></label>
                </div>            
                <div>
                    <input class="form__field" type="text" name="" id="" >
                </div>
            </div>

            <div class="div_inputs">
                <div>
                    <label for=""><b>Nombre Usuario</b></label>
                </div>            
                <div>
                    <input class="form__field" type="text" name="" id="">
                </div>        
            </div>

            <div class="div_inputs">
                <div>
                    <label for=""><b>Edad</b></label>
                </div>
                <div>
                    <input class="form__field" type="number" name="" id="">
                </div>
            </div>       

            <div class="div_inputs">
                <div>
                    <label for=""><b>Correo</b></label>
                </div>
                <div>
                    <input class="form__field" type="email" name="" id="">
                </div>
            </div>

            <div class="div_inputs">
                <div>
                    <label for=""><b>Contraseña</b></label>
                </div>
                <div>
                    <input class="form__field" type="password" name="" id="">
                </div>
            </div>     

            <div class="div_inputs">
                <div>
                    <label for=""><b>Repite tu contraseña</b></label>
                </div>
                <div>
                    <input class="form__field" type="password" name="" id="">
                </div>
            </div>            


            <div style="margin: 30px; display: block; text-align: center;">
                <input type="button" value="Iniciar sesion" style="
                background-color: #04AA6D; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                ">
            </div>     

        </form>


    </div>    
</div>