<div style="width: 100%; height: auto; ">
  <div style="width: 100%;">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="./assets/Slider_Epic.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/sliderMontagne.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/slidernight2.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
  </div>

  <div style="max-width: 100%; text-align: center; padding-top: 30px;">
    <h1>
      Proximas carreras
    </h1>
  </div>  

  <div class="container-cursos">         
    <div class="container">
      
      <div class="cursos">
        <div style="max-width: 100%; height: 200px; overflow: hidden;">
          <img src="https://imgs.search.brave.com/TJkdFUbggebBx5DEzgNZjJW8ZCbCgWhv19djS39aBeA/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/bWFyYXRob25yYW5r/aW5nLmNvbS93cC1j/b250ZW50L3VwbG9h/ZHMvMjAyMS8xMS9D/YWxlbmRhcmlvLWRl/LW1hcmF0b25lcy15/LWNvcnJpZGFzLU1l/eGljby0zLmpwZw" alt="" style="width: 100%; height: 100%;">
        </div>
        <div class="cursos-datos">
          <div class="datosCursoUno">
            <h3>Veracruz</h3>
            <p>Fecha:14 de enero</p>                        
          </div>
        </div>
      </div>  
    </div>    
    <div class="container">            
      <div class="cursos">
        <div style="max-width: 100%; height: 200px; overflow: hidden;">
          <img src="https://imgs.search.brave.com/24IoQ5S4EReyj_xpMt8-YbGuywX5SWBCSqSCvl36Hu4/rs:fit:860:0:0/g:ce/aHR0cDovL21hcmF0/b25lc3ByLmNvbS93/cC1jb250ZW50L3Vw/bG9hZHMvMjAyMy8x/MC9zYWxpZGEtNWst/QXJyZWNvc3Rhby1z/Y2FsZWQuanBlZw" alt="" style="width: 100%; height: 100%;">
        </div>
        <div class="cursos-datos">
          <div class="datosCursoUno">
            <h3>Texas</h3>
            <p>Fecha: 19 de octubre</p>                        
          </div>                                                                
        </div>
      </div>  
    </div>   
    <div class="container">     
      <div class="cursos">
        <div style="max-width: 100%; height: 200px; overflow: hidden;">
          <img src="https://imgs.search.brave.com/vQrPyTHCyrPuo237a2qdDbn6229QylKJ74wXZYUxiCY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9ncmFu/dml0YS5jb20vd3At/Y29udGVudC91cGxv/YWRzLzIwMjAvMDYv/Y2FsZW5kYXJpby1k/ZS1tZWRpb3MtbWFy/YXRvbmVzLW1leGlj/by1wb3J0YWRhLmpw/Zw" alt="" style="width: 100%; height: 100%;">
        </div>
        <div class="cursos-datos">
          <div class="datosCursoUno">
            <h3>Distrito Federal</h3>
            <p>Fecha: 30 de Noviembre</p>                        
          </div>                                                                          
        </div>
      </div>  
    </div>   
  </div>


  <div style="width: 100%; background-color: rgb(184, 125, 0);">

    <div class="container">
      <div style="max-width: 100%; text-align: center; padding: 30px; color: aliceblue;">
        <h1>
          Nuestros Numeros
        </h1>
      </div  >
      <div class="container-NuestrosNumeros" >
        <div class="NuestrosNumeros">
          <div class="numerosDeDatos">
            273
          </div>
          <div class="numeros-datos">
            Participantes
          </div>
        </div> 

        <div class="NuestrosNumeros">
          <div class="numerosDeDatos">
            5
          </div>
          <div class="numeros-datos">
            Paises
          </div>
        </div> 


        <div class="NuestrosNumeros">
          <div class="numerosDeDatos">
            30
          </div>
          <div class="numeros-datos">
            Estados
          </div>
        </div> 


        <div class="NuestrosNumeros">
          <div class="numerosDeDatos">
            231
          </div>
          <div class="numeros-datos">
            Productos
          </div>
        </div> 
      </div>

    </div>
  </div>


  <div class="container" style="text-align: center; padding: 40px;">

    <button type="submit" style="
      background-color: #04AA6D; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      ">Registrate Ahora</button>
  </div>
</div>